body{
    background: url(/pic/tom-barrett-hgGplX3PFBg-unsplash.jpg);
    background-size: cover;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
}
a{
    color:rgb(177, 100, 123) ;
}
.container{
    background: url(/pic/tom-barrett-hgGplX3PFBg-unsplash.jpg);
    background-size: cover;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
    border: 2px solid rgb(110, 141, 145, 0.7);
}
header{
    border-bottom: 1px solid powderblue;
}
.search-form-input{
    background-color: rgb(198, 180, 180, 0.5);
    border: none;
    border-radius: 6px;
    width: 70%;
    font-size: 16px;
    padding: 15px 20px;
}
.search-form-button{
    background-color:rgb(198, 180, 180, 0.5) ;
    padding: 15px 20px ;
    border: none;
    border-radius: 6px;
    color: white;
    margin-left: 5px;
    font-size: 16px;
}
main{
    padding: 30px 0;
}
.weather-city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
.weather-details{
    font-size: 16px;
    line-height: 25px;
    color: rgb(171, 183, 194);
    font-weight: 500;

}
.weather-details strong{
    color:#f65282 ;
}
.weather-data{
    display: flex;
    justify-content: space-between;
}
.weather-temperature-container{
    display: flex;
}
.weather-icon {
    width: 80px;
    height: 80px;
}
.weather-temperature{
    font-size: 70px;
    font-weight: bold;
}
.weather-unit{
    margin-top: 12px;
    font-size: 28px;
}
.weather-forecast {
    margin-top: 10px;
    text-align: left;
    color: #fff;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

.weather-forecast-temperature {
    font-size: 13px;
}

footer{
    border-top: 1px solid powderblue;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: rgb(156, 166, 175, 0.9);
}